.main {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: stretch;
  justify-content: center;
}

.figure {
  height: 100%;
  width: 67%;
  padding: 0px 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
}

.form {
  height: 100%;
  width: 33%;
  background-color: white;
}
